{% extends "home/base.html" %}

{% block content %}
<h2 class="text-success">{{ site_title }} Web Services</h2>
<p>Most data in {{ site_title }} is available pragrammatically via a REST API.</p>
<p>Each endpoint is described in the <a href='/services/reference/'>API reference</a>.</p>
<h4 class="text-success">Example usage</h4>

<strong>Python 3 using requests (requires installation of
<a href="http://docs.python-requests.org/en/latest/">requests module</a>)</strong>
<pre>
import requests

# fetch a protein
url = 'http://gpcrdb.org/services/protein/adrb2_human/'
response = requests.get(url)
protein_data = response.json()
print(protein_data)
print(protein_data['sequence'])

# fetch an alignment
url = 'http://gpcrdb.org/services/alignment/protein/adrb1_human,adrb2_human,adrb3_human/TM3,TM5,TM6/'
response = requests.get(url)
alignment_data = response.json()
for protein, sequence in alignment_data.items():
    print(protein)
    print(sequence)
</pre>

<strong>Python 3 using urllib (built in)</strong>
<pre>
from urllib.request import urlopen
import json

# fetch a protein
url = 'http://gpcrdb.org/services/protein/adrb2_human/'
response = urlopen(url)
protein_data = json.loads(response.read().decode('utf-8'))
print(protein_data)
print(protein_data['sequence'])

# fetch an alignment
url = 'http://gpcrdb.org/services/alignment/protein/adrb1_human,adrb2_human,adrb3_human/TM3,TM5,TM6/'
response = urlopen(url)
alignment_data = json.loads(response.read().decode('utf-8'))
for protein, sequence in alignment_data.items():
    print(protein)
    print(sequence)
</pre>

<strong>Python 2</strong>
<pre>
from urllib2 import urlopen
import json

# fetch a protein
url = 'http://gpcrdb.org/services/protein/adrb2_human/'
response = urlopen(url)
protein_data = json.loads(response.read())
print protein_data
print protein_data['sequence']

# fetch an alignment
url = 'http://gpcrdb.org/services/alignment/protein/adrb1_human,adrb2_human,adrb3_human/TM3,TM5,TM6/'
response = urlopen(url)
alignment_data = json.loads(response.read())
for protein, sequence in alignment_data.iteritems():
    print protein
    print sequence
</pre>
{% endblock %}