{% extends "home/base.html" %}
{% load staticfiles %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css" />
<link href="{% static 'home/css/residue_table.css' %}" rel="stylesheet">
</style>

{% endblock %}
{% block content %}
<h2>Mutant Design Tool</h2>
 <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script> 
 <div class="row">


        <div class="row">
            <div class="col-md-6 text-right text-info">
                <h4>Identified protein name</h4>
            </div>
            <div class="col-md-4">
            {%for p in proteins%} {{ p.entry_name }} {%endfor%}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-right text-info">
                <h4>Identified family name</h4>
            </div>
            <div class="col-md-4">
                {%for f in family_ids%} {{ f.name }} {%endfor%}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-right text-info">
                <h4>Identified parent name</h4>
            </div>
            <div class="col-md-5">
                {%for f in parent_ids%} {{ f.name }} {%endfor%}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-right text-info">
                <h4> Structures with interactions in protein, family and in parent family</h4>
            </div>
            <div class="col-md-4">
                {{protein_interaction_pairs}} {{family_interaction_pairs}} {{parent_interaction_pairs}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-right text-info">
                <h4> Interactions in protein, family and in parent family</h4>
            </div>
            <div class="col-md-4">
                {{protein_interactions|length}} {{family_interactions|length}} {{parent_interactions|length}}
            </div>
        </div>

                <div class="row">
            <div class="col-md-6 text-right text-info">
                <h4> Mutations in protein, family and in parent family</h4>
            </div>
            <div class="col-md-4">
                {{protein_mutations|length}} {{family_mutations|length}} {{parent_mutations|length}}
            </div>
        </div>
</div>

<h2>Results</h2>
<div class="row">
    <div class="col-md-11 text-center">             
        <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
            <table width="100%" class="display" id="residues">

                <thead>
                    <tr>
                        <th>Generic Number</th>
                        <th>Amino Acid</th>
                        <th>Protein level</th>
                        <th>Family level</th>
                        <th>Parent level</th>
                        <th>Suggested mutants</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Generic Number</th>
                        <th>Amino Acid</th>
                        <th>Protein level</th>
                        <th>Family level</th>
                        <th>Parent level</th>
                        <th>Suggested mutants</th>
                    </tr>
                </tfoot>
                {% for key, types in results.items %}
                    <tr>
                    <td>{{key}}</td>
                    <td>{{types.aa}}</td>
                    {% for key, values in types.interaction.items %} 
                        <td>
                            {{values}}
                        </td>
                    {% endfor %}
                    <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% if residues %} 
<h2>Ligand Interaction Browser</h2>
<div class="row">
    <div class="col-md-11 text-center">             
        <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
            <table width="100%" class="display" id="residues">

                <thead>
                    <tr>
                        <th>Ligand</th>
                        <th>Amino Acid</th>
                        <th>Generic Number</th>
                        <th>Segment</th>
                        <th>Interaction Type</th>
                        <th>Suggested mutants</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ligand</th>
                        <th>Amino Acid</th>
                        <th>Generic Number</th>
                        <th>Segment</th>
                        <th>Interaction Type</th>
                        <th>Suggested mutants</th>
                    </tr>
                </tfoot>
                {% for residue in residues %}
                <tr>
                <td>{{residue.ligand}}</td>
                <td>{{residue.aa}}{{residue.pos}}</td>
                <td>{{residue.gpcrdb}}</td>
                <td>{{residue.segment}}</td>
                <td>{{residue.type}}</td>
                <td></td>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
    {% else %}
        
    {% endif %}
<br>

{% endblock %}
{% block addon_js %}
   <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var table = $('#residues').DataTable({
                "scrollX": true,
                "scrollY": 600,
                "bScrollCollapse": true,
                'paging': false,
                orderCellsTop: true,
                "autoWidth": true,
                dom: 'T<"clear">lfrtip',
                "aoColumnDefs": [
                    { "sType": "string", "aTargets": [0] },
                ],
                tableTools: {
                    "sRowSelect": "multi",
                    "aButtons": []
                },
                initComplete: function () {
                    $('#residues').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        aoColumns: [
                            { type: "select" }, //ligand
                            { type: "select" }, //protein name
                            { type: "select" }, //Alt Position
                            { type: "select" }, //Position
                            { type: "select" }, //Segment
                            { type: "select" }, //Suggestion
                        ]
                    });
                }
            });

            });
    </script> 
{% endblock %}