{% extends "home/base.html" %}
{% load staticfiles %}

{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css" />
<link href="{% static 'home/css/residue_table.css' %}" rel="stylesheet">
<link href="{% static 'home/css/alignment.css' %}" rel="stylesheet">
<style>
.smiles-tooltip + .tooltip > .tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
    height: 350px; 
    background-color: #F5F5F5;
    color: #202020;
}

.citation-tooltip + .tooltip > .tooltip-inner {

    background-color: #F5F5F5;
    color: #202020;
}

input.form-control {
    width: 50px;
    font-size: 14px;
    display: inline;
}
</style>

{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
    <script src="{% static 'home/js/selection.js' %}"> </script>
    <script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
    <script src="{% static 'home/js/diagrams.js' %}"></script>
    <script src="{% static 'home/js/alignment.js' %}"></script>
    <script src="{% static 'home/js/residuetable.js' %}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var table = $('#mutations').DataTable({
                "scrollX": true,
                "scrollY": 600,
                "bScrollCollapse": true,
                'paging': false,
                orderCellsTop: true,
                "autoWidth": true,
                dom: 'T<"clear">lfrtip',
                "aoColumnDefs": [
                    { "sType": "string", "aTargets": [0] },
                ],
                tableTools: {
                    "sRowSelect": "multi",
                    "aButtons": []
                },
                initComplete: function () {
                    $('#mutations').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        aoColumns: [
                            { type: "select" }, //protein name
                            { type: "select" }, //Alt Position
                            { type: "select" }, //Position
                            { type: "select" }, //Segment
                            { type: "text" }, //Mutation
                            { type: "text" }, //Foldchange
                            { type: "select" }, //Exp type
                            { type: "text" }, //ligand
                            { type: "text" }, //reference
                        ]
                    });
                }
            });

            $('[data-toggle="tooltip"]').tooltip(); 
            //$('[data-toggle="tooltip"]').tooltip({html:true});

            mutant_json = '{{mutations_pos_list|safe}}';

            ajaxMutantsPos("snakeplot");
            ajaxMutantsPos("helixbox");
            table_ajaxMutants();
            });
    </script> 
{% endblock %}

{% block content %}
<h2>Mutant Browser</h2>
{% if mutations %} 
    <!-- Download button -->
    <a class="btn btn-sm btn-primary" href="download" role="button">
    <span class="glyphicon glyphicon-download"></span> Download</a>
        <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
            <table width="100%" class="display" id="mutations">

                <thead>
                    <tr>
                        <th>Protein name</th>
                        <th>Generic number</th>
                        <th>Position</th>
                        <th>Segment</th>
                        <th>Mutation</th>
                        <th>FoldChange or Qual</th>
                        <th>Exp Type</th>
                        <th>Ligand</th>
                        <th>Reference</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Protein name</th>
                        <th>Generic number</th>
                        <th>Segment</th>
                        <th>Position</th>
                        <th>Mutation</th>
                        <th>FoldChange or Qual</th>
                        <th>Exp Type</th>
                        <th>Ligand</th>
                        <th>Reference</th>
                    </tr>
                </tfoot>
                {% for mutation in mutations.select_related.all %}
                <tr>
                <td><a href="/protein/{{mutation.protein.entry_name}}">{{mutation.protein.entry_name}}</a></td>
                <td>{{mutation.residue.display_generic_number.label}}</td>
                <td>{{mutation.residue.sequence_number}}</td>
                <td>{{mutation.residue.protein_segment.slug}}</td>
                <td>{{mutation.residue.amino_acid}} => {{mutation.mutation.amino_acid}}</td>

                <td><a href="#" data-toogle="tooltip"   data-container="body" data-html="true" data-original-title="{{mutation.getCalculation}}" data-placement="top"> {{mutation.getFoldorQual|safe}}</a></td>

                <td>{% if mutation.exp_func.func %} {{mutation.exp_type.type}} ({{mutation.exp_func.func}}) {% else %} N/A {% endif %}</td>
                <td>
                <a class="smiles-tooltip" data-toggle="tooltip"  data-html="true" data-original-title="<img src='http://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/smiles/{{mutation.ligand.properities.smiles|urlencode}}/PNG'><br>{{mutation.ligand.name}}<br>{{mutation.ligand_role.name}}" data-placement="right">{{mutation.ligand.name}}</a></td>
               <!--  <td>{{mutation.ligand_class.classname}}</td> -->
                <td>
                <a class="citation-tooltip" target="_blank" href="{{mutation.refs.web_link}}" data-toggle="tooltip"  data-container="body" data-html="true" data-original-title="{{mutation.refs.title}}" data-placement="left" >{{mutation.citation}}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br><br>

<h2>Residue</h2>
<div class="col-md-2 text-right text-info">
    <h4>Diagrams</h4>
</div>
    <div class="col-md-10">
     <small>Increased binding/potency: <font style="color: #000; background-color: #87E88F" color="#87E88F">>5-fold</font>, <font style="color: #000; background-color: #66B36C" color="#66B36C">>10-fold</font>; Reduced binding/potency: <font style="color: #FFF; background-color: #FF7373" color="#FF7373">>5-fold</font>, <font style="color: #FDFF7B; background-color: #FA1111" color="#FA1111">>10-fold</font>; <font style="color: #000; background-color: #F7DA00" color="#F7DA00">No/low effect (<5-fold)</font>; and <font style="color: #000; background-color: #D9D7CE" color="#D9D7CE">N/A</font> </small><br>
    {{ HelixBox }}
    <br>    
    Download: 
        <a href="javascript:saveSvgAsPng(document.getElementById('helixbox'), 'helixbox_mutants.png', {scale: 3});">PNG</a> | 
        <a id=helix_svg_link href-lang="image/svg+xml" href="" download="helixbox_mutants">SVG</a>  
    {{ SnakePlot }}
    <br>    
    Download: 
        <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'snake_mutants.png', {scale: 3});">PNG</a> | 
        <a id=snake_svg_link href-lang="image/svg+xml" href="" download="snake_mutants">SVG</a>  
   </a> 

    </div>
    {% else %}
        <p> Ooops! There is no data to show here yet. </p>
    {% endif %}
<br><br><br><br>
<div class="col-md-2 text-right text-info">
    <h4>Residue Table</h4>
</div>
<div class="col-md-10">
{% include "residue/residue_table_only.html" with header=header segments=segments data=data onlymutants=1 %}
</div>
<!-- sequence alignment ends -->
{% endblock %}

