{% extends "home/base.html" %}
{% load staticfiles %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css" />
<link href="{% static 'home/css/residue_table.css' %}" rel="stylesheet">
</style>

{% endblock %}
{% block content %}
<h2>Structure information</h2>
 <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script> 
 <div class="row">
    <table width="100%">
      <tr>
        <td width="50%" style="border:0px;">
        <div class="row text-success">
        <div class="text-center">
                <h2>{{ crystal.protein_conformation.protein.family.name|safe }}</h2>
            </div>
        </div>

<!--         <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>Protein Class</h4>
            </div>
            <div class="col-md-6">
            {{ crystal.protein_conformation.protein.get_protein_class }}
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>PDB code</h4>
            </div>
            <div class="col-md-6">
            {{ xtal.pdb_code }}
            </div>
        </div>

<!--         <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>Species</h4>
            </div>
            <div class="col-md-6">
            {{ crystal.protein_conformation.protein.species.latin_name }}
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>Resolution</h4>
            </div>
            <div class="col-md-6">
            {{ xtal.resolution}}
            </div>
        </div>

<!--         <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>Preferred chain</h4>
            </div>
            <div class="col-md-6">
            {{ crystal.preferred_chain }}
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>PMID</h4>
            </div>
            <div class="col-md-6">
            {{ xtal.pubmed_id }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right text-info">
                <h4>Publication date</h4>
            </div>
            <div class="col-md-6">
            {{ xtal.publication_date }}
            </div>
        </div>
    </td>
    <td style="border:0px;">

            <div style="height: 300px; width: 500px; position: relative;" class='viewer_3Dmoljs'  data-backgroundcolor='0xf6f6f6' data-href='pdb?session=1&pdb={{ pdbname }}' data-type='pdb' data-backgroundcolor='0xffffff' data-labelres2='fontSize:12;opacity:.2;color:black' data-select1='{"hetflag":false}'  data-style1='{"cartoon":{"color":"spectrum"}}' data-select2='{"resn":["test","{{ mainligand}}"]}' data-style2='{"stick":{"colorscheme":"greenCarbon"}}'></div> 
                 <a href="pdb?session=1&pdb={{ pdbname }}">Download PDB file</a>
                
    </td>
    </tr>
    </table>
</div>

<h2>Ligand Interaction Browser</h2>
<div class="row">
    <div class="col-md-11 text-center">
        {% if residues %}              
        <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
            <table width="100%" class="display" id="residues">

                <thead>
                    <tr>
                        <th>Ligand</th>
                        <th>Amino Acid</th>
                        <th>Generic Number</th>
                        <th>Segment</th>
                        <th>Interaction Type</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ligand</th>
                        <th>Amino Acid</th>
                        <th>Generic Number</th>
                        <th>Segment</th>
                        <th>Interaction Type</th>
                    </tr>
                </tfoot>
                {% for residue in residues %}
                <tr>
                <td>{{residue.ligand}}</td>
                <td>{{residue.aa}}{{residue.pos}}</td>
                <td>{{residue.gpcrdb}}</td>
                <td>{{residue.segment}}</td>
                <td>{{residue.type}}</td>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p> Ooops! There is no data to show here yet. </p>
    {% endif %}

    </div>
</div>
<br>
<h2>Ligands</h2>
        {% for ligand,values in simple.items %}
        <div class="row">
            <div class="col-md-2 text-left text-info">
                <h4>{{ligand}} (Score: {{values.score}})</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 text-center text-info">
                3D interaction viewer
                 <div style="height: 380px; width: 400px; position: relative;" class='viewer_3Dmoljs'  data-backgroundcolor='0xf6f6f6' data-href='download?session=1&ligand={{ ligand }}&pdb={{ pdbname }}' data-type='pdb' data-backgroundcolor='0xffffff' data-labelres1='fontSize:10;opacity:1;color:white;backgroundOpacity:0.8' data-select1='{"hetflag":false}' data-style1='stick' data-select2='{"hetflag":true}' data-style2='{"stick":{"colorscheme":"greenCarbon"}}'></div> 

                 <a href="download?session=1&ligand={{ ligand }}&pdb={{ pdbname }}">Download PDB file</a>
            </div>
            <div class="col-md-5 text-center text-info">
                2D interaction plot<br>
                <br>
                 PoseView coming soon.
            </div>
        </div>
       <!-- <a href="pdb/{{pdbname}}/ligand/{{structure.structure_ligand_pair__ligand__name}}">{{structure.structure_ligand_pair__ligand__name}}</a> Has {{structure.numRes}} residues interacting<br> -->

              <!-- <button style="width:220px;" onclick="ajaxInteractionsLigand('{{ protein.entry_name }}','{{structure.structure_ligand_pair__ligand__name}}')">Color diagrams with interactions</button><br> -->
<br>
{% empty %}
    No structures yet.
{% endfor %}

<h2>Residue Diagrams</h2>

<div class="row">
<div class="col-md-10 text-center">
    {{ SnakePlot }}
    <br>
    Download: 
    <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'snake_{{ pdbname }}.png', {scale: 3});">PNG</a> | 
    <a id=snake_svg_link href-lang="image/svg+xml" href="" download="snake_{{ p.pdbname }}">SVG</a>
    </div>
</div>

<div class="row">
    <div class="col-md-10 text-center">
        {{ HelixBox }}
        <br>
        Download: 
        <a href="javascript:saveSvgAsPng(document.getElementById('helixbox'), 'helixbox{{ pdbname }}.png', {scale: 3});">PNG</a> | 
        <a id=helix_svg_link href-lang="image/svg+xml" href="" download="helixbox{{ p.pdbname }}">SVG</a>   
    </div>
</div>

<h2>Residue Table</h2>
<div class="col-md-10">
{% include "residue/residue_table_only.html" with header=header segments=segments data=data onlymutants=1 %}
</div>



{% endblock %}
{% block addon_js %}
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/diagrams.js' %}"></script>
   <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var table = $('#residues').DataTable({
                "scrollX": true,
                "scrollY": 600,
                "bScrollCollapse": true,
                'paging': false,
                orderCellsTop: true,
                "autoWidth": true,
                dom: 'T<"clear">lfrtip',
                "aoColumnDefs": [
                    { "sType": "string", "aTargets": [0] },
                ],
                tableTools: {
                    "sRowSelect": "multi",
                    "aButtons": []
                },
                initComplete: function () {
                    $('#residues').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        aoColumns: [
                            { type: "select" }, //ligand
                            { type: "select" }, //protein name
                            { type: "select" }, //Alt Position
                            { type: "select" }, //Position
                            { type: "select" }, //Segment
                        ]
                    });
                }
            });

            $('[data-toggle="tooltip"]').tooltip(); 
            //$('[data-toggle="tooltip"]').tooltip({html:true});


            function ajaxInteractions(plotid) {

                interactions = {{ residues|safe }};
                count = [];
                output = [];
                
                  $.each( interactions, function( index, val ) {

                    console.log(val);

                    key = val['pos'];

                    if (key in count) {
                        count[key] += 1;
                        if (!(val['type'] in output[key])) output[key].push(val['type'])
                    } else {
                        count[key] = 1;
                        output[key] = [val['type']]
                    }

                    // var flags = [], falgsAA = [], output = [], outputAA = [], l = val.length, i;
                    // for( i=0; i<l; i++) {
                    //     if( flags[val[i][1]]) continue;
                    //     flags[val[i][1]] = true;
                    //     output.push(val[i][1]);
                    // }
                    // for( i=0; i<l; i++) {
                    //     if( flags[val[i][0]]) continue;
                    //     flags[val[i][0]] = true;
                    //     outputAA.push(val[i][0]);
                    // }
                     
                      extra = "\n" + String(count[key]) + " interactions | Type: "+ output[key];


                      $('#'+plotid).find("#"+key).css("fill", "#E60A0A");
                      $('#'+plotid).find("#"+key).next().css("fill", "#FDFF7B");

                      original_title = $('#'+plotid).find("#"+key).attr('original_title')


                      $('#'+plotid).find("#"+key).attr('title',original_title+extra);
                      $('#'+plotid).find("#"+key+"t").attr('title',original_title+extra);


                  });

                $("circle").tooltip('fixTitle');
                $("text").tooltip('fixTitle');

                
            }
            ajaxInteractions('snakeplot')
            ajaxInteractions('helixbox')


            });
    </script> 
{% endblock %}