﻿{% extends "home/base.html" %}
{% load staticfiles %}
{% block addon_css %}
<link href="{% static 'home/css/residue_table.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include "residue/residue_table_only.html" with header=header segments=segments data=data %}
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/alignment.js' %}"></script>
<script src="{% static 'home/js/residuetable.js' %}"></script>
{% endblock %}