{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

 <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script> 
<div class="row text-success">
<div class="text-center">
        <h2>{{ crystal.protein_conformation.protein.family.name|safe }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>PROTEIN CLASS</h4>
    </div>
    <div class="col-md-9">
    {{ crystal.protein_conformation.protein.get_protein_class }}
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>RECEPTOR</h4>
    </div>
    <div class="col-md-9">
    <a href="../protein/{{ crystal.protein_conformation.protein.parent.entry_name }}">{{ crystal.protein_conformation.protein.parent.name|safe }}</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>PDB CODE</h4>
    </div>
    <div class="col-md-9">
    {{ crystal.pdb_code.index }}
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>SPECIES</h4>
    </div>
    <div class="col-md-9">
    {{ crystal.protein_conformation.protein.species.latin_name }}
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>RESOLUTION</h4>
    </div>
    <div class="col-md-9">
    {{ crystal.resolution}}
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>PREFERRED CHAIN</h4>
    </div>
    <div class="col-md-9">
    {{ crystal.preferred_chain }}
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>REFERENCE</h4>
    </div>
    <div class="col-md-9">
    <a href="{{ crystal.publication.web_link }}">{{ crystal.publication.web_link.index }}</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>PUBLICATION DATE</h4>
    </div>
    <div class="col-md-9">
    {{ crystal.publication_date }}
    </div>
</div>



<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>RECEPTOR PDB</h4>
    </div>
    <div class="col-md-9">
    <div style="height: 400px; width: 500px; position: relative;" class='viewer_3Dmoljs'  data-backgroundcolor='0xf6f6f6' data-href='pdb/{{pdbname}}' data-type='pdb' data-backgroundcolor='0xffffff' data-labelres2='fontSize:12;opacity:.2;color:black' data-select1='{"hetflag":false}'  data-style1='{"cartoon":{"color":"spectrum"}}' data-select2='{"resn":["test"{{ annotated_resn}}]}' data-style2='{"stick":{"colorscheme":"greenCarbon"}}'></div> 
         <a href="pdb/{{pdbname}}">Download PDB file</a>
         
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right text-info">
        <h4>Interacting residues</h4>
    </div>
    <div class="col-md-9">
    <a href="../interaction/{{pdbname}}"> {{residues|length}} interactions (Click to see)</a>
    </div>
</div>


{% endblock %}
{% block addon_js %}
{% endblock %}